<div class="calculadora-panaderia-container">
  <h3>Calculadora (panadería)</h3>
    
  <div class="calculadora-grid">
    <div class="calculadora-item">
      <label for="costoFicha">Costo ficha:</label>
      <input id="costoFicha" type="text" readonly [(ngModel)]="costoFicha">
    </div>
    
    <div class="calculadora-item">
      <label for="pesoReceta">Peso receta:</label>
      <input id="pesoReceta" type="text" readonly [(ngModel)]="pesoReceta">
    </div>
    
    <div class="calculadora-item">
      <label for="porcentaje">5%:</label>
      <input id="porcentaje" type="text" readonly [(ngModel)]="porcentaje">
    </div>
    
    <div class="calculadora-item">
      <label for="costoKiloReceta">Costo kilo receta:</label>
      <input id="costoKiloReceta" type="text" readonly [(ngModel)]="costoKiloReceta">
    </div>
    
    <div class="calculadora-item">
      <label for="raciones">Raciones:</label>
      <input id="raciones" type="text" readonly [(ngModel)]="raciones">
    </div>
    
    <div class="calculadora-item">
      <label for="pesoRacion">Peso ración:</label>
      <input id="pesoRacion" type="text" readonly [(ngModel)]="pesoRacion">
    </div>
    
    <div class="calculadora-item">
      <label for="costoRacion">Costo ración:</label>
      <input id="costoRacion" type="text" readonly [(ngModel)]="costoRacion">
    </div>
  </div>
</div>
