<nav class="navbar">
  <div class="navbar-logo" (click)="navigateToHome()">
    <img src="src/app/navbar/Proporcionperfecta.png" alt="Proporción Perfecta" class="logo">
    <span class="brand-name">Proporción Perfecta</span>
  </div>
  <div class="navbar-menu">
    <div class="menu-icon" (click)="toggleMenu()">
      &#9776;
    </div>
    <ul class="menu-items" [class.show]="menuOpen">
      <li><a (click)="navigateTo('/cocina-calculadora')">Cocina</a></li>
      <li><a (click)="navigateTo('/panaderia-calculadora')">Panadería</a></li>
      <li><a (click)="navigateTo('/acerca')">Acerca de</a></li>
    </ul>
  </div>
</nav>
