.about-section {
    background-color: #f5f5dc; /* Fondo crema */
    padding: 50px 20px;
    text-align: center;
    color: #4b3621; /* Texto color café oscuro */
}

.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-container h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333; /* Color del título */
}

.about-container p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #4b3621;
}
  
app-final {
    margin-top: auto;
    width: 100%; /* Asegura que el footer esté al final de la página */
}