<section class="about-section">
    <div class="about-container">
        <h2>Acerca de Nosotros</h2>
        <p>
            Bienvenido a nuestra página web de herramientas de cálculo de masas panaderas y recetas de cocina. Es una página creada para facilitar a los estudiantes de gastronomía sus necesidadesy brindarles ayuda. Nuestro objetivo es ayudar en los cálculos que se necesitan para varias recetas.
        </p>
        <p>
            Nuestro equipo está formado por expertos apasionados en la tecnología y el desarrollo web. Creemos en la simplicidad y en ofrecer soluciones que realmente funcionen para nuestros usuarios.
        </p>
        <p>
            Gracias por confiar en nosotros y esperamos que nuestras herramientas te sean de gran ayuda.
        </p>
        <p>
            Además con el tiempo innovaremos la página e incluirá otras areás. 
        </p>
        <p>
            Agradecemos tus opiniones o comentarios y nos puedes contactar por el correo brawlbull458&#64;gmail.com
        </p>
    </div>
</section>

<!-- Componente Final -->
<app-final-panaderia></app-final-panaderia>